@media all and (min-width: 766px) {
  img.user {
    float: left;
  }

}
@media all and (max-width: 470px) {
  input {
    width: 100%;
  }
  
}
@media (max-width: 470px) {

  .art {
    flex-direction: column;
  }

}
@media all and (min-width: 500px) {
  .side-menu {
    /* width: 120px; */
    /*height: 315px;*/
    height: 340px;
  }
  
 
  .hero{
    height: 340px;
  }
  img.h-img {
    width: 200px;
  }
  div.gall img {
    font-size: 30px;
  }

}

@media all and (orientation: portait) {
  input {
    width: 100%;
  }
}
@media all and (max-width: 750px) {
  p.user-text {
    display: none;
  }
  
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media all and (min-width:800px){
  .side-arc {
    width: 200px;
    display: unset;
  }

}
@media all and (max-width: 800px) {
  img.circbox {
    display: none;
  }

.top-nav {
    border-bottom-right-radius: 0px;

  }

#top-nav {
  border-bottom-right-radius: 10px;


  }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (min-width: 1100px) {
  .column {
   flex: 25%;
  max-width: 30%;
  margin:  25px; 
  }
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin:  0px;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 590px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin: 0px;
  }
  
  
}
