@media all and (min-width: 766px) {
  img.user {
    float: left;
  }
}
@media all and (max-width: 470px) {
  input {
    width: 100%;
  }
}
@media all and (min-width: 700px) {

}
@media all and (min-width: 500px) {
  .side-menu {
    /* width: 120px; */
    /*height: 315px;*/
    height: 340px;
  }
  img.h-img{
    width: 200px;
  }
  .hero{
    height: 340px;
  }
  .side-arc {
    width: 200px;
    display: unset;
  }
  img.h-img {
    width: 170px;
  }
  div.gall img {
    font-size: 30px;
  }
}

@media all and (orientation: portait) {
  input {
    width: 100%;
  }
}
@media all and (max-width: 750px) {
  p.user-text {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media all and (max-width: 852px) {
  img.circbox {
    display: none;
  }
}
